h1 {
  text-align: center;
  border: 8px solid whitesmoke;
  border-left: 5px;
  border-right: 5px;
  border-width: 10px;
  font-family: "Times New Roman", Times, serif;
  color: whitesmoke;
}

.Color-Card {
  display: flex;
  width: 150px;
  height: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid whitesmoke;
  border-radius: 10px;
}
.ColorHex {
  border-radius: 10px;
  border: 2px solid whitesmoke;
}
