.Card-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.Page {
  width: 100%;
  height: auto;
}
.cardForm {
  background-color: gray;
}
.FormContainer {
  display: flex;
  justify-content: center;
}
.farbeInput {
  width: 60%;
  margin-bottom: 5px;
}
.hexInput {
  width: 60%;
  margin-bottom: 5px;
}
.colorButton {
  background-color: rgb(21, 207, 186);
  color: whitesmoke;
  border-radius: 10px;
  width: 60%;
}
